.wrap{
    max-width: 30em;
    margin: 4em auto;
    position: relative;
    background: #def2f9;
    padding: 2em 3em;
    overflow: hidden;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 212, 249);
}
button{
    background: rgb(0, 212, 249);
    height: 45px;
    width: 100px;
    color: #fff;
    cursor: pointer;
    font-size: 23px;
    /* border: 1px solid #ced4da; */
}
.userinfo{
    display: flex;
    justify-content: center;
    font-size: large;
    margin-top: 15px;
}